<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PGErpSystem.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>DA70730B6BAE9C9B30872F730299C9988690B769</string>
				<key>dateExpires</key>
				<string>2019/11/20</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>PUABNTPHWC.com.qiekj.erp</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>PUABNTPHWC</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>PGErpSystem.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>ad7d2c60-bb12-432a-8597-63269408e07a</string>
				<key>name</key>
				<string>erp_adHocDis_profile</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>PUABNTPHWC</string>
				<key>name</key>
				<string>Hangzhou Penguin Technology Co., Ltd.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
